# Dependencies
node_modules/
yarn.lock
# MANTÉM package-lock.json para uso em produção (npm ci)

# Database
mongo_data/
*.db
*.mongodb

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

CHANGES.md
DEPLOy-CHECKLIST.md
QUICK-START.md

# Build
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/
.nyc_output/

# OS
.DS_Store
Thumbs.db

# Misc
app.js
Procfile